.footerDiv1{
    margin-top: 80px;
    width: 100%;
    height: 600px;
    background-color:gainsboro;
}

.center {
    padding-top: 80px;
    text-align: center;
}

.bigDiv {
    display: inline;
}

.borderRight {
    border-right: 1px solid black;
   
}

.borderPosition {
padding-left: 40px;
    padding-right: 40px;
}

.socialLinks {
    float: left;
}

.align-center{
    text-align: center;
}


